h1{
    text-align: center;
}
/* #main_mainovich{
    display: flex;
} */

#main{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 auto;
    max-width: 1200px;
    justify-content: center;
    
}
.all_blocks{
    border: solid 1.5px gray;
    border-radius: 20px;
    margin: 10px;
    width: 160px;
    justify-content: center;
    text-align: center;
    padding-top: 20px;
    height: 180px;   
}
span{
    display: flex;
    justify-content: center;
    
}
hr{
    width: 90%;
}