body {
    margin: 0;
    padding: 0;
    background-color: black;

}
@keyframes anim {
    0% {
        transform: skew(0);
    }
    25% {
        transform: skew(30deg);
    }
    50% {
        transform: skew(0deg);
        margin-left: 750px;
    }
    75% {
        transform: skew(-30deg);
        margin-right: 900px;
    }
    100% {
        transform: skew(0deg);
    }
}
.cont {
    position: absolute;
    top: 50px;
    left: 150px;
    width: 1000px;
    height: 250px;
    border: solid 2px white;
}
.block {
    width: 250px;
    height: 250px;
    background: red;

   animation: anim 2s infinite ease-in-out normal
}
