body {
    margin: 0;
    padding: 0;
    background-color: black;

}
@keyframes anim {
    0% {
        transform: skew(0);
    }
    25% {
        transform: skew(30deg);
    }
    50% {
        transform: skew(0deg);
        margin-left: 90%;
    }
    75% {
        transform: skew(-30deg);
        margin-right: 90%;
    }
    100% {
        transform: skew(0deg);
    }
}

.block {
    position: absolute;
    top: 200px;
    width: 250px;
    height: 270px;
    background: red;

   animation: anim 2s infinite ease-in-out normal
}
