body{
    margin: 0;
    padding: 0;
}
.block{
    width: 200px;
    height: 200px;
    background: linear-gradient(to left top, red, 40%, blue);
    margin: auto;
    margin-top: 30vh;
    transition: 1s;
}
.block:hover{
    transform: perspective(150px) rotateY(-20deg) rotateX(10deg);
    border-radius: 30px;
}