@font-face {
    font-family: 'font';
    src: url(./МатериалыкДЗ/AVENGEANCE\ HEROIC\ AVENGER\ AT.ttf);
}



body {
    font-family: 'font';
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.text {
    text-align: center;
    font-size: 7.5em;
    padding-top: 3.5%;
    padding-left: 15.8%;
}

.all_avengers {
    position: relative;
    overflow: hidden;
    background-image: url(./МатериалыкДЗ/bg.png);
    background-size: 100% 100%;
    height: 700px;
    width: 1440px;
    margin-top: 4.5%;
}

.avengers {
    position: absolute;
    width: 500px;
}

#hulk {
    left: 0;
    top: 200px;
    width: 600px;
}

#widow {
    left: 220px;
    top: 260px;
}

#cap {
    left: 380px;
    top: 200px;
}

#ironman {
    left: 570px;
    top: 160px;
}

#hawkeye {
    left: 780px;
    top: 280px;
    width: 380px;
}

#thor {
    left: 880px;
    top: 200px;
    width: 650px;
}

