.header {
    min-height: 642px;
    background-image: url("/images/about_page-header.jpg");
}
.header__content {
    margin-top: 46px;
}
.header__title {
    font-size: 120px;
}
.home {
    text-decoration: none;
    color: #fff;
}
.about {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 4px;
    color: #dc052d;
}
.about_us__title {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 86%;
    color: #fff;
    margin-top: 100px;
    margin-bottom: 25px;
}
.about_us__content {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about_img {
    max-width: 754px;
}
.about_us__content-text {
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 175%;
    color: #fff;
    max-width: 810px;
}
.why {
    margin-top: 100px;
}
.why__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 75px;
}
.why__title {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 75px;
    line-height: 114%;
    text-align: center;
    color: #fff;
}
.why__content-wrap {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
}
.why__card {
    border: 2px solid #3d0011;
    width: 530px;
    height: 569px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 53px;
    gap: 20px;

    transition: 0.4s;
    &:hover {
        box-shadow: 0 0 15px 5px red;
        transform: translateY(-1em);
    }
}
.why__card-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
h3 {
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 112%;
    text-align: center;
    color: #fff;
}
.why__card-textspan {
    max-width: 385px;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 169%;
    letter-spacing: 0.03em;
    text-align: center;
    color: #fff;
}
.why__content-register {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    border-radius: 30px;
    width: 360px;
    height: 65px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background: #0066b2;
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 167%;
    color: #fff;

    transition: 0.4s;
    &:hover {
        background: white;
        color: black;
        border: 1px solid black;
    }
}
@media (min-width: 1440px) {
    .header {
        min-height: 500px;
    }
}
@media (max-width: 1440px) {
    .header {
        min-height: 400px;
    }
    .header__content {
        margin-top: 50px;
    }
    .header__title {
        font-size: 100px;
    }
    .header__button {
        width: 130px;
    }
    .signup {
        width: 170px;
    }
    .about_us__title {
        font-size: 30px;
        margin: 25px 0 50px 0;
    }
    .about_img {
        max-width: 600px;
    }
    .about_us__content-text {
        font-size: 18px;
        max-width: 700px;
    }
    .why__title {
        font-size: 60px;
    }
    .why__content-wrap {
        gap: 20px;
    }
    .why__card {
        width: 450px;
        height: 500px;
    }
    .why__card-text {
        gap: 10px;
    }
    h3 {
        font-size: 20px;
    }
    .why__card-textspan {
        font-size: 14px;
    }
    .why__content-register {
        width: 300px;
        height: 55px;
        font-size: 18px;
    }
    .footer__token-text {
        font-size: 110px;
    }
}
@media (max-width: 1024px) {
    .header {
        min-height: 360px;
    }
    .header__title {
        font-size: 70px;
    }
    .header__content {
        margin-top: 20px;
    }
    .content__right {
        flex-direction: row;
    }
    .about_us__title {
        font-size: 25px;
    }
    .about_img {
        display: none;
    }
    .about_us__content-text {
        font-size: 24px;
        max-width: 800px;
        text-align: center;
    }
    .why__title {
        font-size: 50px;
    }
    .why__content-wrap {
        gap: 15px;
    }
    .why__card {
        width: 400px;
        height: 450px;
    }
    .why__card-text {
        gap: 5px;
    }
    h3 {
        font-size: 18px;
    }
    .why__card-textspan {
        font-size: 12px;
    }
    .why__content-register {
        width: 250px;
        height: 50px;
        font-size: 16px;
    }
}
@media (max-width: 950px) {
    .about_img {
        display: none;
    }
}
@media (max-width: 768px) {
    .header {
        min-height: 300px;
    }
    .header__content {
        margin-top: 100px;
        padding-inline: 135px;
        border-bottom: 2px solid #dc052d;
        padding-bottom: 20px;
    }
    .header__button {
        margin-top: 65px !important;
    }
    .header__title {
        font-size: 50px;
        display: block;
    }
    .about_us {
        margin-top: 50px;
    }
    .about_us__title {
        font-size: 40px;
    }
    .content__right {
        flex-direction: row;
    }
    .about_us__content {
        flex-direction: column;
    }
    .about_us__content-text {
        font-size: 18px;
        max-width: 500px;
        text-align: center;
    }
    .why__title {
        font-size: 40px;
    }
    .why__content-wrap {
        gap: 30px;
    }

    .why__card {
        width: 450px;
        height: 400px;
        justify-content: center;
        padding-top: 0;
    }
    .one{
        height: 500px;
    }
    .two {
        height: 550px;
    }
    .why__card-text {
        gap: 5px;
    }
    h3 {
        font-size: 16px;
    }
    .why__card-textspan {
        font-size: 15px;
    }
    .why__content-register {
        width: 400px;
        height: 65px;
        font-size: 25px;
    }
}
@media (max-width: 600px) {
    .header {
        min-height: 200px;
    }
    .header__content {
        margin-top: 100px;
        padding-inline: 50px;
    }
    .header__title {
        font-size: 40px;
    }
    .about_us {
        margin-top: 50px;
    }
    .about_us__title {
        font-size: 30px;
    }
    .content__right {
        flex-direction: row;
    }
    .about_us__content {
        flex-direction: column;
    }
    .about_us__content-text {
        font-size: 18px;
        max-width: 500px;
        text-align: center;
    }
    .why__title {
        font-size: 40px;
    }
    .why__content-wrap {
        gap: 30px;
    }
    .why__card {
        width: 450px;
        height: 400px;
        justify-content: center;
        padding-top: 0;
    }
    .why__card-text {
        gap: 5px;
    }
    h3 {
        font-size: 16px;
    }
    .why__card-textspan {
        font-size: 15px;
    }
    .why__content-register {
        width: 400px;
        height: 65px;
        font-size: 25px;
    }
}
@media (max-width: 599px) {
    .header {
        min-height: 200px;
    }
    .header__content {
        margin-top: 100px;
        padding-inline: 50px;
    }
    .header__title {
        font-size: 40px;
    }
    .about_us {
        margin-top: 50px;
    }
    .about_us__title {
        font-size: 30px;
    }
    .content__right {
        flex-direction: row;
    }
    .about_us__content {
        flex-direction: column;
    }
    .about_us__content-text {
        font-size: 18px;
        max-width: 500px;
        text-align: center;
    }
    .why__title {
        font-size: 40px;
    }
    .why__content-wrap {
        gap: 30px;
    }
    .why__card {
        width: 450px;
        height: 470px;
        justify-content: center;
        padding-top: 0;
    }
    .why__card-text {
        gap: 5px;
    }
    h3 {
        font-size: 16px;
    }
    .why__card-textspan {
        font-size: 15px;
    }
    .why__content-register {
        width: 400px;
        height: 65px;
        font-size: 25px;
    }
}
@media (max-width: 499px) {
    .header {
        min-height: 200px;
    }
    .header__content {
        margin-top: 50px;
        padding-inline: 50px;
    }
    .header__title {
        font-size: 40px;
    }
    .about_us {
        margin-top: 50px;
    }
    .about_us__title {
        font-size: 30px;
    }
    .content__right {
        flex-direction: row;
    }
    .about_us__content {
        flex-direction: column;
    }
    .about_us__content-text {
        font-size: 18px;
        max-width: 500px;
        text-align: center;
    }
    .why__title {
        font-size: 40px;
    }
    .why__content-wrap {
        gap: 30px;
    }
    .why__card {
        max-width: 400px;
        height: 470px;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
    .why__card-text {
        gap: 5px;
    }
    h3 {
        font-size: 16px;
    }
    .why__card-textspan {
        font-size: 15px;
    }
    .why__content-register {
        width: 400px;
        height: 65px;
        font-size: 25px;
    }
}
@media (max-width: 410px) {
    .container {
        padding-inline: 0;
    }
    .header {
        min-height: 200px;
    }
    .header__title {
        font-size: 40px;
    }
    .about_us {
        margin-top: 50px;
    }
    .about_us__title {
        font-size: 30px;
    }
    .content__right {
        flex-direction: row;
    }
    .about_us__content {
        flex-direction: column;
    }
    .about_us__content-text {
        font-size: 18px;
        max-width: 340px;
        text-align: center;
    }
    .why__title {
        font-size: 40px;
    }
    .why__content-wrap {
        gap: 30px;
    }
    .why__card {
        max-width: 350px;
        height: 470px;
        justify-content: center;
        align-items: center;
        padding-top: 0;
    }
    .why__card-text {
        gap: 5px;
    }
    h3 {
        font-size: 16px;
    }
    .why__card-textspan {
        font-size: 14px;
        max-width: 325px;
    }
    .why__content-register {
        width: 350px;
        height: 65px;
        font-size: 20px;
    }
}