@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Bakbak+One&family=Bebas+Neue&family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nova+Mono&family=Old+Standard+TT:ital,wght@0,400;0,700;1,400&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    max-width: 1650px;
    margin: 0 auto;
}
:root {
    --font-family: "Inter", sans-serif;
}
body {
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
}
.header {
    min-height: 1083px;
    background-image: url(/images/header_background.svg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.navbar {
    padding-top: 40px;
    padding-inline: 135px;
    display: flex;
    justify-content: space-between;
}
.nav {
    display: flex;
    align-items: center;
}
ul {
    display: flex;
    gap: 40px;
    margin: 0;
}
li {
    list-style-type: none;
}
ul > li > a {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 167%;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;

}
.home {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    text-underline-offset: 4px;
    color: #dc052d;
}
.navbar__login-register {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__button {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    width: 130px;
    height: 50px;
    border-radius: 30px;
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 167%;
    color: #fff;
    border: none;
}
.login {
    background: #dc052d;
    margin-left: 60px;
}
.signup {
    background: #0066b2;
    margin-left: 20px;
}
.header__content {
    margin-top: 164px;
    display: flex;
    justify-content: space-between;
    padding-inline: 135px;
    align-items: center;
}

.content__right {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.header__content-text {
    display: flex;
    flex-direction: column;
}
.header__title {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 100px;
    line-height: 110%;
    color: #fff;
    max-width: 571px;
}
.header__parag {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 22px;
    line-height: 136%;
    color: #fff;
    max-width: 670px;
    padding-top: 40px;
}
.header__content-buttons {
    margin-top: 68px;
    display: flex;
    gap: 30px;
}
.header__button-bottom {
    border-radius: 30px;
    width: 190px;
    height: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 167%;
    color: #fff;
    border: none;
}
.button__token {
    background: #dc052d;
}
.button__register {
    background: #0066b2;
}
.purshared {
    margin-top: 190px;
}
h2 {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 150px;
    line-height: 73%;
    color: rgba(160, 0, 48, 0.3);
}
.purshared__lines {
    display: flex;
    align-items: center;
    margin-top: 90px;
}
.purshared__lines-block {
    width: 660px;
    height: 100%;
    display: flex;
    border: 2px solid #fff;
    position: relative;
    z-index: 1;
}
.lines__block-light {
    width: 546px;
    height: 71px;
    background: #dc052d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lines__block-light > span {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 86%;
    color: #fff;
}
.lines__block-dark {
    width: 110px;
    height: 71px;
    background: #31000f;
}
.purshared__lines-img {
    position: relative;
    right: 50px;
    bottom: 10px;
}
.economics {
    margin: 200px 0;
}
.economics__title {
    text-align: right;
    padding-right: 135px;
}
.economics__content {
    margin-top: 84px;
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
}
.economics__content-circle {
    position: relative;
}
.economics__content-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.economics__content-text > h3 {
    max-width: 690px;
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 114%;
    color: #fff;
}
.economics__content-text > p {
    max-width: 700px;
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 175%;
    color: #fff;
}
.circle__text {
    font-family: var(--font-family), sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    position: absolute;
}
.circle__red-text {
    color: #dc052d;
}
.circle__reserve {
    left: 43px;
    top: -14px;
}
.circle__football {
    left: -195px;
    top: 85px;
    max-width: 202px;
}
.circle__ido {
    left: -105px;
    top: 340px;
    max-width: 150px;
}
.circle__dev {
    left: -115px;
    top: 475px;
}
.circle__staking {
    max-width: 140px;
    right: -150px;
    top: 210px;
}
.circle__total {
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #fff;
    bottom: 0;
    right: -150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.circle__big-text {
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 35px;
    letter-spacing: 0.11em;
    text-transform: uppercase;
    color: #dc052d;
}
.about__title {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 150px;
    line-height: 73%;
    color: rgba(160, 0, 48, 0.3);
    margin-bottom: 79px;
}
.about__text-button > h3 {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 114%;
    color: #fff;
    max-width: 486px;
    padding-bottom: 40px;
}
.about__text-button > p {
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 175%;
    color: #fff;
    max-width: 670px;
}
.about__button {
    border-radius: 30px;
    width: 190px;
    height: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background: #dc052d;
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 167%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 40px;
    transition: 0.4s;

    &:hover {
        background: white;
        color: black;
    }
}
.about__content {
    display: flex;
    gap: 100px;
}
.about__image > img {
    max-width: 910px;
}
.token {
    margin: 150px 0;
}
.token__title {
    margin-top: 100px;
}
.token__content {
    margin-top: 140px;
}
.token__content-token {
    max-width: 1650px;
    min-height: 71px;
    background: #31000f;
    border: 1px solid #fff;
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.token__content-button {
    display: flex;
    justify-content: center;
}
.token__button {
    border-radius: 30px;
    width: 190px;
    height: 50px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
    background: #dc052d;
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 167%;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-top: 40px;
    transition: 0.4s;

    &:hover {
        background: white;
        color: black;
    }
}
.strategy {
    margin: 150px 0;
}
.strategy__titles {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 40px;
}
.strategy__titles > li {
    font-family: var(--font-family), sans-serif;
    font-weight: 600;
    font-size: 35px;
    line-height: 86%;
    color: #fff;
}
.strategy__content {
    margin: 100px 0;
}
.strategy__content-listsup {
    display: flex;
    justify-content: center;
}
.content__lists-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: relative;
}
.list__one {
    left: -222px;
}
.list__two {
    right: 115px;
}
.list__three {
    right: -215px;
}
.list__one > li {
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #fff;
}
.list__two > li, .list__three > li {
    font-family: var(--font-family), sans-serif;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 0.02em;
    color: #bb8383;
}
.strategy__lis {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 8px;
}
.strategy__lis::before {
    content: ' ';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 3px;
    background-color: #dc052d;
}
.lis__dark::before {
    background-color: #bb8383;
}
.strategy__content-upline {
    margin-top: 22px;
    margin-left: 108px;
    display: flex;
    align-items: end;
    gap: 235px;
}
.one__line, .four__line {
    border-left: 1px dashed #dc052d;
}
.two__line, .three__line, .five__line {
    border-left: 1px dashed #bb8383;
}
.line {
    width: 1px;
    height: 111px;
}
.strategy__content-q {
    font-family: var(--font-family), sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #dc052d;
}
.q4 {
    color: #ac7878;
}
.strategy__content-line {
    max-width: 100%;
    height: 2px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}
.strategy__content-line::before {
    content: ' ';
    display: block;
    border-radius: 11px;
    width: 22px;
    height: 22px;
    background: #dc052d;
}
.strategy__content-line::after {
    content: '\2192';
    font-size: 40px;
    color: red;
    position: relative;
    left: 10px;
    bottom: 4px;
}
.center__line-circles {
    display: flex;
    margin-top: 10px;
    margin-left: 99px;
    position: relative;
}
.circle {
    border-radius: 11px;
    width: 22px;
    height: 22px;
    background: #dc052d;
    position: relative;
    bottom: 21px;
}
.circle__two {
    margin-left: 253px;
}
.circle__three {
    margin-left: 256px;
}
.circle__four {
    margin-left: 253px;
}
.circle__five {
    margin-left: 259px;
}
.strategy__content-downline {
    display: flex;
    align-items: start;
    gap: 235px;
    margin-left: 69px;
    position: relative;
    bottom: 10px;
}
.q3 {
    position: relative;
    left: 2px;
}
.five__line {
    position: relative;
    right: 1px
}
.q2025 {
    position: relative;
    left: 7px;
}
.strategy__content-listsdown {
    display: flex;
    justify-content: center;
    margin-left: 108px;
    margin-top: 20px;
}
.list__one-down{
    left: -282px;
}
.list__two-down {
    right: 1px;
}