@font-face {
    font-family: 'at' ;
    src: url(../Position1/Материалы_к_ДЗ/AVENGEANCE\ HEROIC\ AVENGER\ AT.ttf);
}
body {
    margin: 0;
    padding: 0;
    background: #fff;
    display: flex;
    justify-content: center;
   
}
.main {
    position: relative;
    width: 70%;
    background-size: 100% 100%;
    height: 700px;
    background-image: url(../Position1/Материалы_к_ДЗ/bg.png);
    overflow: hidden;
    margin-top: 5%;
    background-color: red;
}
.text{
    color: black;
    font-family:'at';
    font-size: 150px;
    position: absolute;
    top: 100px;
    left: 600px;
}
.avenger {
    position: absolute;
    width: 500px;
}
#cap {
    left: 380px;
    top: 200px;
    z-index: 3;
}
#hawkeye{
    left: 780px;
    top: 280px;
    width: 380px;
    z-index:3;
}
#hulk {
    left: 0px;
    top: 200px;
    width: 600px;
}
#ironman {
    left: 570px;
    top: 160px;
    z-index: 4;
}
#thor {
    left: 880px;
    top: 200px;
    width: 650px;
}
#widow {
    left: 220px;
    top: 230px;
}