@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

:root {
    --mulish-font: "Mulish", sans-serif;
    --inter-font: "Inter", sans-serif;
    --tt_travels-font: "TT Travels", sans-serif;
    --container-width: 1160px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    position: relative;
    min-height: 100vh;
    font-family: var(--mulish-font);
    font-weight: 500;
    font-size: 20px;
}

/* Базовые классы */
.container {
    max-width: var(--container-width);
    margin: 0 auto;
}
.text_purple {
    color: #7f61dd;
}
.text_pink {
    color: #e44a77;
}
.text_extrabold {
    font-weight: 800;
}

/* Что мы предлагаем section*/
.section__what-we-offer {
    background-color: #7F61DD;
    padding: 75px 0 48px;
    color: #fff;
    position: relative;
    z-index: 1;
}

.what-we-offer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.what-we-offer__text {
    width: 90%;
}
.what-we-offer__title {
    font-family: var(--mulish-font);
    font-weight: 800;
    font-size: 64px;
    color: #A8EB66;
    margin-bottom: 0;
}
.what-we-offer__text {
    font-family: var(--mulish-font);
    font-weight: 500;
    font-size: 20px;
    color: #fff;
    margin-top: 13px;
}

.what-we-offer__column_right {
    position: relative;
}
.what-we-offer__alert {
    width: 147px;
    height: 77px;
    position: absolute;
    z-index: 100;
    bottom: 54px;
    right: -58px;
}

/* Главная часть страницы */
.container_main {
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 42px 0 22px;
}

/* Детали об курсе */
section.course__plan-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Отступы между секциями */
section#course-details-section {
    margin-bottom: 130px;
}
section#course__plan-section,
section#course__perspective-section {
    margin-bottom: 104px;
}

section.course__plan-details .course__details-header {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
section.course__plan-details .course__details-header p {
    margin-top: 13px;
    width: 650px;
}

section.course__plan-details .course__details-header h2 {
    font-family: var(--mulish-font);
    font-size: 48px;
    font-weight: 800;
}

/* Нижние отсутупы титулов деталей курсов */
section#course-details-section .course__details-header {
    margin-bottom: 46px;
}
section#course__plan-section .course__details-header {
    margin-bottom: 40px;
}
section#course__perspective-section .course__details-header {
    margin-bottom: 32px;
}


/* Титул колонки(больше обычного) */
h2.column__title {
    font-size: 48px;
    font-weight: 800;
    margin-bottom: 32px;
}

/* Титул колонки(не используется) */
h3.column__title {
    font-size: 32px;
    font-weight: 800;
    margin-bottom: 20px;
}

/* Удаляем базовые точки списков */
section.course__plan-details ul.course__details {
    list-style-type: none;
}

ul.course__details.details__arrowed li {
    position: relative;
    width: max-content;
    font-size: 20px;
    padding-left: 25px;
    margin-bottom: 25px;
}
/* Увеличенные отступы между пунктами у правой колонки */
.course__column_right ul.course__details.details__arrowed li {
    margin-bottom: 35px;
}

/* Фиолетовые стрелки перед пунктами */
ul.course__details.details__arrowed li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 17px;
    height: 30px;
    background-image: url('../svg/purple__arrow.svg');
    background-size: contain;
    background-repeat: no-repeat;
}

/* Фиолетовый дефис перед пунктами */
section.course__plan-details ul.course__details.course__details_hyphenated li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 10px;
}
section.course__plan-details ul.course__details.course__details_hyphenated  li::before {
    content: "-";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-55%);
    color: #7f61dd;
    font-weight: bold;
    font-size: 32px;
}

.course__details-header,
.layout__side {
    position: relative;
}

/* План курсов через <p> */
section.course__plan-details .course__column_left .course__details-container {
    display: flex;
    flex-direction: column;
    gap: 35px;
}

/* Размеры фотографии */
.what-we-offer__image {
    width: 364px;
    height: 347px;
}
.course__image_info-sm {
    position: absolute;
    top: -130px;
    right: 0;
    width: 333px;
}

/* Зеленая кнопка "Хочу записаться" */
.green_button {
    width: 382px;
    height: 72px;
    font-family: var(--mulish-font);
    font-size: 30px;
    font-weight: 800;
    background-color: #A8EB66;
    color: #fff;
    border: none;
    border-radius: 11px;
    cursor: pointer;
    transition: 0.4s;
}
.green_button:hover {
    color: #e44a77;
}

/* Подвал */
.text_underline--gray {
    text-decoration: underline;
    text-decoration-color: rgba(255, 255, 255, 0.8);
    text-underline-offset: 2px;
}

.footer {
    padding-top: 28px;
    background-color: #000;
    padding-bottom: 48px;
}

.footer__wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.footer__title {
    font-family: var(--mulish-font);
    font-weight: 800;
    font-size: 16px;
    color: #fff;
    padding-bottom: 18px;
    text-decoration: none;
}

.footer__link {
    font-family: var(--mulish-font);
    font-weight: 500;
    font-size: 14px;
    color: #fff;
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    transition: 0.3s linear;
}

.footer__link:hover, .footer__phone:hover, .footer__copyright-political:hover{
    color: #e44a77;
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer__social {
    display: flex;
    column-gap: 12px;
}

.footer__social-link {
    display: inline-block;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
}

.footer__phone {
    font-family: var(--mulish-font);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
    margin-top: 12px;
    text-decoration:none;
    transition: 0.3s linear;
}

.footer__button {
    border-radius: 15px;
    width: 274px;
    height: 55px;
    background: #e44a77;
    text-decoration: none;
    font-family: var(--mulish-font);
    font-weight: 800;
    font-size: 14px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
    cursor: pointer;
    border: none;
    transition: 0.1s linear;
}

.footer__button:hover{
    background: #fff;
    color: #e44a77;
    border: #e44a77 solid 1px;
}
.footer__section-contacts .footer__title {
    margin-bottom: 22px;
}

.footer__sections {
    display: flex;
    width: 475px;
    justify-content: space-between;
}

.footer__copyright {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.48);
    padding-top: 32px;
    margin-top: 41px;
}
.footer__copyright-image {
    width: 260px;
}

.copyright__main-text {
    font-family: var(--mulish-font);
    font-weight: 800;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0.8;
    color: #fff;
    width: 410px;
    margin-bottom: 15px;
}

.copyright__main-text a{
    color: #fff;
}

.footer__copyright-political {
    text-decoration: none;
    width: 274px;
    font-family: var(--mulish-font);
    font-weight: 600;
    font-size: 14px;
    line-height: 1.4;
    color: #fff;
    transition: 0.1s linear;
}



/* Адаптация для страницы */
@media screen and (min-width: 769px) and (max-width: 1024px) {
    .container_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 85vw;
        margin: 0 auto;
        padding: 40px 0 50px;
    }
    .container {
        width: 85vw;
        margin: 0 auto;
    }

    /* Секция что мы предлагаем */
    .section__what-we-offer {
        padding: 52px 0 48px;
    }
    .what-we-offer__title {
        font-size: 46px;
    }
    .what-we-offer__text {
        width: 90%;
        margin-top: 16px;
        font-size: 18px;
        font-weight: 500;
    }
    .what-we-offer__image {
        width: 300px;
        height: 285px;
    }
    .what-we-offer__alert {
        width: 100px;
        height: 52px;
        bottom: 36px;
        right: 0;
        transform: translateX(40%);
    }

    /* Общие настройки секций container_main */
    section.course__plan-details .course__details-header h2,
    section.course__plan-details .course__details-header p {
        width: 100%;
    }
    section.course__plan-details .course__details-header p {
        font-size: 20px;
        font-weight: 500;
    }
    section.course__plan-details .course__details-header h2 {
        font-size: 48px;
    }

    /* Секция деталей курса */
    section#course-details-section {
        margin-bottom: 60px;
    }
    section#course-details-section .course__details-header {
        margin-bottom: 36px;
    }
    ul.course__details.details__arrowed li {
        width: 100%;
        font-size: 18px;
    }
    .course__column_right ul.course__details.details__arrowed li {
        margin-bottom: 35px;
    }

    /* Секция перспектив курса + предлагаемые курсы*/
    section#course__plan-section {
        margin-bottom: 60px;
    }
    h2.column__title {
        font-size: 38px;
        margin-bottom: 20px;
    }
    section.course__plan-details .course__column_left .course__details-container {
        gap: 32px;
    }

    /* Секция план курса */
    section#course__perspective-section {
        margin-bottom: 50px;
    }
    .course__image_info-sm {
        width: 250px;
        top: -100px;
    }
    section#course__perspective-section .course__details-header {
        margin-bottom: 28px;
    }

    section.course__plan-details ul.course__details.course__details_hyphenated li {
        padding-left: 20px;
        font-size: 18px;
    }
    section.course__plan-details ul.course__details.course__details_hyphenated li::before {
        font-size: 30px;
    }

    /* Зеленая кнопка записаться */
    .green_button {
        width: 45%;
        height: 60px;
        font-size: 24px;
    }

    /* футер */
    .footer {
        overflow: hidden;
        padding: 28px 0 36px;
    }
    .footer__button {
        width: 160px;
        height: 60px;
        font-size: 16px;
    }
    .footer__copyright-political {
        width: max-content;
    }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .container_main {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 85vw;
        margin: 0 auto;
        padding: 40px 0 50px;
    }
    .container {
        width: 85vw;
        margin: 0 auto;
    }

    /* Секция что мы предлагаем */
    .section__what-we-offer {
        padding: 24px 0 40px;
    }
    .what-we-offer__title {
        font-size: 42px;
    }
    .what-we-offer__text {
        width: 90%;
        margin-top: 18px;
        font-size: 16px;
        font-weight: 400;
    }
    .what-we-offer__image {
        width: 250px;
        height: 238px;
    }
    .what-we-offer__alert {
        width: 100px;
        height: 52px;
        bottom: 36px;
        right: 0;
        transform: translateX(40%);
    }

    /* Общие настройки секций container_main */
    .course__column,
    section.course__plan-details .course__details-header h2,
    section.course__plan-details .course__details-header p {
        width: 100%;
    }
    section.course__plan-details .course__details-header p {
        font-size: 20px;
        font-weight: 500;
    }
    section.course__plan-details .course__details-header h2 {
        font-size: 42px;
    }

    /* Секция деталей курса */
    section#course-details-section {
        margin-bottom: 28px;
    }
    section#course-details-section .course__details-header h2 {
        font-size: 42px;
    }
    section#course-details-section .course__details-header {
        margin-bottom: 30px;
    }
    ul.course__details.details__arrowed li {
        width: 100%;
        font-size: 20px;
    }
    .course__column_right ul.course__details.details__arrowed li {
        margin-bottom: 25px;
    }

    /* Секция перспектив курса + предлагаемые курсы*/
    section#course__plan-section {
        margin-bottom: 60px;
    }
    h2.column__title {
        font-size: 32px;
        margin-bottom: 20px;
    }
    section.course__plan-details .course__column_left .course__details-container {
        gap: 30px;
    }

    /* Секция план курса */
    section#course__perspective-section {
        margin-bottom: 50px;
    }
    .course__image_info-sm {
        width: 230px;
        top: -100px;
    }
    section#course__perspective-section .course__details-header {
        margin-bottom: 28px;
    }
    section.course__plan-details ul.course__details.course__details_hyphenated li {
        padding-left: 24px;
        font-size: 20px;
    }
    section.course__plan-details ul.course__details.course__details_hyphenated li::before {
        font-size: 32px;
    }

    /* Зеленая кнопка записаться */
    .green_button {
        width: 55%;
        height: 60px;
        font-size: 24px;
    }

    /* футер */
    .footer {
        overflow: hidden;
    }
    .footer__copyright {
        display: none;
    }
    .footer__title {
        font-size: 34px;
        width: max-content;
        margin-bottom: 10px;
    }
    .footer__button {
        border-radius: 12px;
        width: 196px;
        height: 61px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        color: #fff;
        position: relative;
        right: -50px;
    }
    .footer__sections {
        display: block;
    }
    .footer__section-about {
        margin-top: 38px;
    }
    .footer__section-contacts {
        margin-top: 170px;
        position: relative;
    }
    .footer__link {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 20px;
        color: #fff;
        width: max-content;
    }
    .footer__phone {
        font-size: 20px;
    }
    .footer__social {
        column-gap: 15px;
    }
    .footer__section-contacts > h3, .footer__social, .footer__phone {
        margin-left: 50px;
    }
    .footer__social-link, .footer__social-link > svg {
        width: 36px;
        height: 36px;
    }
}

@media screen and (max-width: 480px) {
    .container_main {
        width: 90vw;
        margin: 0 auto;
        padding: 40px 0 50px;
    }
    .container {
        width: 90vw;
        margin: 0 auto;
    }
    .visible-desktop {
        display: none;
    }
    .visible-mobile {
        display: block;
    }

    /* Секция что мы предлагаем */
    .section__what-we-offer {
        padding: 24px 0 40px;
    }
    .what-we-offer__title {
        font-size: 48px;
    }
    .what-we-offer__text {
        width: 100%;
        margin-top: 24px;
        font-size: 16px;
        font-weight: 400;
    }

    /* Общие настройки секций container_main */
    .course__column,
    .layout__side,
    section.course__plan-details .course__details-header h2,
    section.course__plan-details .course__details-header p {
        width: 100%;
    }
    section.course__plan-details .course__details-header p {
        font-size: 18px;
        font-weight: 500;
    }
    .layout__side_right {
        display: none;
    }

    /* Секция деталей курса */
    section#course-details-section {
        margin-bottom: 20px;
    }
    section#course-details-section .course__details-header h2 {
        font-size: 38px;
    }
    section#course-details-section .course__details-header {
        margin-bottom: 28px;
    }
    ul.course__details.details__arrowed li {
        width: 100%;
        font-size: 18px;
    }
    ul.course__details.details__arrowed li::before {
        width: 15px;
        height: 24px;
    }
    .course__column_right ul.course__details.details__arrowed li {
        margin-bottom: 25px;
    }

    /* Секция перспектив курса + предлагаемые курсы*/
    section#course__plan-section {
        margin-bottom: 60px;
    }
    section.course__plan-details .course__details-header h2 {
        font-size: 38px;
    }
    h2.column__title {
        font-size: 30px;
        margin-bottom: 20px;
    }
    section.course__plan-details .course__column_left .course__details-container {
        font-size: 18px;
        font-weight: 400;
        gap: 28px;
    }

    /* Секция план курса */
    section#course__perspective-section {
        margin-bottom: 30px;
    }
    section#course__perspective-section .course__details-header {
        margin-bottom: 16px;
    }
    section.course__plan-details ul.course__details.course__details_hyphenated li {
        padding-left: 24px;
        font-size: 18px;
    }
    section.course__plan-details ul.course__details.course__details_hyphenated li::before {
        font-size: 32px;
    }

    /* Зеленая кнопка записаться */
    .green_button {
        width: 100%;
        height: 60px;
        font-size: 24px;
    }


    /* Прячем png'шки */
    .course__image_info-sm,
    .what-we-offer__column_right {
        display: none;
    }


    /* футер */
    .footer {
        overflow: hidden;
    }
    .footer__copyright {
        display: none;
    }
    .footer__title {
        font-size: 20px;
        width: max-content;
    }
    .footer__button {
        border-radius: 11px;
        width: 196px;
        height: 43px;
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 20px;
        color: #fff;
        position: relative;
        right: 45px;
    }
    .footer__sections {
        display: block;
    }
    .footer__section-about {
        margin-top: 38px;
    }
    .footer__section-contacts {
        margin-top: 170px;
        position: relative;
    }
    .footer__link {
        font-family: var(--font-family);
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        width: 179px;
    }
    .footer__social {
        column-gap: 15px;
    }
    .footer__section-contacts > h3, .footer__social, .footer__phone {
        margin-left: 50px;
    }
    .footer__social-link, .footer__social-link > svg {
        width: 36px;
        height: 36px;
    }
}
