body{
    margin: 0;
    padding: 0;
}
.main{
    height: 100vh;
    background-image: url(images_and_gifs/galactic.webp);
    background-repeat: repeat-x;
    animation: slide 10s linear infinite;
}
@keyframes slide {
    0%{
        background-position: 0% 0%;
    }
    50%{
         background-position: 100% 0%;
    }
    100%{
        background-position: 0% 0%;
    }
}