body {
    font-family: 'Bold Gothic', sans-serif;
}
#main {
    display: flex;
    margin-top: 50px;
    margin: 20px;
    justify-content: center;
    flex-wrap: wrap;
    border-bottom: solid 1px;
    
}
#h1_WHF {
    text-align: center;
    padding-top: 40px;
}
.Food {
    border: solid 1px;
    border-radius: 20px;
    margin: 10px;
    height: 180px;
    width: 150px;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

