body {
    margin: 0;
    padding: 0;
    background-color: white;
}
* {
    box-sizing: border-box;
}
.container {
    max-width: 1440px;
    margin: 0 auto;
}
.container0 {
    max-width: 1440px;
    min-height: 769px;
}
.container1 {
    display: flex;
    gap: 451px;
    max-width: 900px;
}
.container2 {
    margin: auto;
    max-width: 941px;
    min-height: 344px;
    display: flex;
    flex-direction: column;
    gap: 92px;
}
.container3 {
    max-width: 940px;
    min-height: 466px;
    margin-top: 100px;
}
.container4 {
    max-width: 1440px;
    min-height: 498px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../svg/back_fot.svg);
}
.container5 {
    max-width: 1440px;
    min-height: 100px;
    background-color: #171819;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
}
.container6 {
    display: flex;
    flex-direction: column;
}
.header_main {
    background-image: url(../svg/head_background.svg);
    background-repeat: no-repeat;
    text-align: center;
}
.header_main > img {
    width: 101.62px;
    height: 23px;
    position: relative;
    top: 35px;
}
.text_headermain {
    width: 1438px;
    height: 769px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text_headermain > h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    line-height: 70.31px;
    letter-spacing: 5.7px;
    color: white;
}
.text_headermain > span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 18.75px;
    color: white;
}
.text_headermain > :last-child {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    line-height: 12.89px;
    letter-spacing: 3.700000047683716px;
    padding-top: 350px;
}

.nav_menu {
    display: flex;
    gap: 48px;
}
.nav_menu > a {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    line-height: 14.06px;
    letter-spacing: 1.0909091234207153px;
    text-decoration: none;
    color: black;
}
.nav_menu > :nth-child(2) {
    color: #00A4E5;
}
.container1 > img {
    max-width: 79.53px;
    min-height: 18px;
}
h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 21.09px;
    letter-spacing: 2.3062498569488525px;
    text-align: center;
}
hr {
    width: 50px;
    height: 2px;
    border: 2px solid #00A4E5;
}

.text_and_blocks {
    display: flex;
    gap: 77px;
}
.main_title {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
}
.main_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 405px;
}
.main_text > :first-child {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    line-height: 23.44px;
    letter-spacing: 0.18750004470348358px;
    font-weight: bold;

}
.main_text > :last-child {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.18750004470348358px;
}
.konstruct {
    color: #00A4E5;
    font-size: 20px;
}
.main_blocks {
    display: flex;
    gap: 20px;
    padding-top: 10px;
}
.block {
    width: 140px;
    height: 224px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.18750004470348358px;
    text-align: left;
    font-weight: bold;
    color: white;
    padding-left: 14px;
    padding-top: 15px;
}
.plan_block {
    background-image: url(../svg/plan.svg);
}
.manage_block {
    background-image: url(../svg/manage.svg);
}
.build_block {
    background-image: url(../svg/build.svg);
}
.main_allservices {
    display: flex;
    gap: 154px;
}
.main_second_title {
    display: flex;
    flex-direction:column;

    width: 405px;
    height: 40px;
}
.main_secondtext_and_button {
    display: flex;
    gap: 60px;
}
.main_second_text > span {
    width: 405px;
    height: 38px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    line-height: 19px;
    letter-spacing: 0.20000000298023224px;
    color: #48555B;
}
span {
    color: #48555B;
}
button {
    width: 250px;
    height: 40px;
    background: #00A4E5;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: bold;
    line-height: 15.23px;
    letter-spacing: 0.5px;
    color: white;
}
.about_blocks {
    display: flex;
    gap: 28px;
    margin: auto;
    margin-top: 80px;
    width: 940px;
}
.about_block {
    width: 295px;
    height: 330px;
    display: flex;
    flex-direction: column;
    gap: 13px;
    border: 2px solid #E6E6E6;
    padding: 20px;
}
.about_block > img {
    width: 65.63px;
    height: 75px;
}
.about_title {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4266666769981384px;
    font-weight: bold;
}
.about_text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.18750004470348358px;
}
.container4 > h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 0.15000000596046448px;
    width: 350px;
}
.but_unicum {
    width: 150px;
    height: 40px;
}
.container5 > h2 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    line-height: 25.78px;
    letter-spacing: 0.8461539149284363px;
    color: #FFFFFF;
}
.mail_button {
    display: flex;
}
input {
    width: 250px;
    height: 40px;
    padding-left: 10px;
}
footer {
    max-width: 1440px;
    min-height: 300;
    margin: auto;
}
.footer_up {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    max-width: 1440px;
    min-height: 250px;
    background-color: #141A20;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_down {
    min-height: 60px;
    background-color: #171819;
}

.text-down {
    max-width: 250px;
}
.block0 {
    color: #FFFFFF;
    font-size: 11px;
    line-height: 12.89px;
    letter-spacing: 0.8461539149284363px;
    text-align: left;
    display: flex;


}
.bl1 > span {
    opacity: 0.6;
}
.bl > :first-child {
    opacity: 0.6;
}
.bl {
   margin-right: 71px;

}
.bl1 {
  margin-right: 34px;
  display: flex;
    flex-direction: column;
    gap: 3px;
}
.bl2 {
    margin-right: 38px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.bl3 {
    margin-right: 58px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.bl4 {
    margin-right: 56px;
}
.test > span {
    color: #FFFFFF;
}
.bl4 > span {
    color: #FFFFFF;
}
.block1 {
    max-width: 76px;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.8461539149284363px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    text-decoration: none;
    color: #FFFFFF;


}
.block2 {
    width: 52px;
    left: 110px;
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.8461539149284363px;
    text-align: left;
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
}
.block3 {
    font-size: 11px;
    line-height: 25px;
    letter-spacing: 0.8461539149284363px;
    text-align: left;
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
}
.bl4 > span{
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.8461539149284363px;
    text-align: left;
}
.test {
    padding-top: 40px;
}
.test > span {
    font-size: 11px;
    line-height: 16px;
    letter-spacing: 0.8461539149284363px;
    text-align: left;
}
.bl4 > :first-child {
    opacity: 0.6;
}
.footer_down {
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer_down > span {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 11px;
    line-height: 12.89px;
    letter-spacing: 0.8461539149284363px;
    color: #FFFFFF;
}
.footer-up-icons {
    display: flex;
    gap: 75px;
}
