.container {
    max-width: 1160px;
    margin: 0 auto;
}
body {
    margin: 0;
    padding: 0;
}
nav {
    background-color: blue;
    position: relative;
}
.block-navigation {
    display: flex;
}
.block-nav-up {
    position: absolute;
    top: -280px;
    left: 204px;
    background-color: #0d0d49;
}

.block-nav-box-, .block-up-blocks {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 100px;
    height: 70px;
    transition: 0.5s;
}
.block-nav-box-:hover {
    background-color: #0606aa;
}
.block-up-blocks:hover {
    background-color: #3d3def;
}
#block-nav-id {
    cursor: pointer;
}