* {
    box-sizing:border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #20192A;
}


header {
    margin: auto;
    width: 1600px;
    height: 1331px;
    background-image: url(../images/background_header.png);
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 61px;
    padding-left: 100px;
    padding-right: 102px;
}
.logo_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 27.71px;
    color: white;
}
.nav_menu > a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    line-height: 27.71px;
    color: white;
}
.nav_menu {
    display: flex;
    gap: 54px;
}
.nav_menu :last-child {
    color: #8941FB;
}

.nav_menu_hr {
    width: 1388px;
    margin-top: 50px;
    border: solid 1px;
    opacity: 0.2;
    color: #FFFFFF;
}

.header_all_text {
    display: flex;
    flex-direction: column;
    width: 931px;
    margin-left: 260px;
    margin-top: 80px;
}
.second_nav_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27.71px;
    color: #FFFFFF;
}
.head_title {
    font-family: arial, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 85px;
    font-weight: 400;
    line-height: 76.36px;
    padding-top: 80px;
    color: #FFFFFF;
}
.p_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27.71px;
    color: #FFFFFF;
    padding-top: 50px;
}
.header_paragraph {
    width: 1036px;
    height: 225px;
    margin-top: 459px;
    margin-left: 23px;
}
.header_paragraph > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 44.97px;
    text-align: center;
    color: #FFFFFF;
}
main {
    margin: auto;
}
.up_main_hr {
    width: 272px;
    border: 1px solid;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 82px;
}
.main_one_title {
    width: 1129px;
    height: 228px;
    margin: auto;
    position: relative;
    top: 30px;
}
.main_one_title > h2 {
    font-family: arial, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 85px;
    font-weight: 400;
    line-height: 76.36px;
    text-align: center;
    text-shadow: 0px 0px 6px #8941FB;
    text-transform: uppercase;
}
.main_vertical_line {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
}
.circles {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: white;
    box-shadow: 0 0 25px 20px #CB3D9A;
}
.lines {
    width: 2.5px;
    height: 170px;
    background: #CB3D9A;
}
.main_two_title > h2 {
    font-family: arial, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 85px;
    font-weight: 400;
    line-height: 76.36px;
    text-align: center;
    text-shadow: 0px 0px 6px #8941FB;
    text-transform: uppercase;
}
.main_two_title {
    margin-top: 161px;
}
.text_twotitle {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 44.97px;
    color: #FFFFFF;
    width: 1036px;
    position: relative;
    bottom: 30px;
}
.texttwotitle {
    display: flex;
    justify-content: center;

}
.deadlines {
    display: flex;
    justify-content: center;
    gap: 290px;
}
.text {
    display: flex;
    flex-direction: column;
}
.text > h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 44.97px;

    width: 322px;
    color: #8941FB;
}
.text > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27.71px;

    width: 450px;
    height: 140px;
    color: white;
}
.svg_image_one {
    margin-top: 85px;
}
.svg_image_three {
    margin-top: 85px;
}
.conveyor {
    margin-top: 150px;
    gap: 302px;
    display: flex;
    justify-content: center;
}
.deadlines_two {
    display: flex;
    justify-content: center;
    gap: 250px;
    margin-top: 175px;
}
.partners_images {
    margin-top: 143px;
    display: flex;
    justify-content: center;
    gap: 85.5px;
}
.cases > :first-child {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 85px;
    font-weight: 400;
    line-height: 76.36px;
    text-shadow: 0px 0px 6px #8941FB;
    margin-top: 143px;
}
.cases {
    display: flex;
    justify-content: center;
    gap: 595px;
}
.more_cases {
    margin-top: 170px;
    display: flex;
    justify-content: center;
    gap: 34px;
}
.more_cases > :first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 550;
    line-height: 30.23px;
    color: #8941FB;
}
.circle_morecases {
    width: 64px;
    height: 64px;
    border: 1px solid #8941FB;
    border-radius: 100%;
    position: relative;
    bottom: 17px;
}
.line_cases {
    width: 80px;
    border: 1px solid #8941FB;
    position: absolute;
    top: 30px;
    right: 0px;
}
.center_main {
    width: 1600px;
    border: 1px solid #C9C9C9;
    opacity: 0.3;
    margin-top: 57px;
}
.blog {
    margin-top: 121px;
    display: flex;
    justify-content: center;
    gap: 116px;
}
.imageruby_and_services {
    display: flex;
    flex-direction: column;
}
.rubyroid_back {
    width: 434px;
    height: 281px;
    background: #10BE56;
    text-align: center;
}
.rubyroid_back > img {
    position: relative;
    padding-top: 125px;
}
.services > :first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.45px;
    color: #FFFFFF;
}
.services > :last-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 550;
    line-height: 24.45px;
    color: #FFFFFF;
}
.services {
    margin-top: 55px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 38px;
}
.types_of_content > :first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.45px;
    color: #FFFFFF;
}
.types_of_content > :last-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 550;
    line-height: 24.45px;
    color: #FFFFFF;
}
.duration > :first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.45px;
    color: #FFFFFF;
}
.duration > :last-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 550;
    line-height: 24.45px;
    color: #FFFFFF;
}
.number_delivered > :first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.45px;
    color: #FFFFFF;
    text-transform: uppercase;
}
.number_delivered > :last-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 550;
    line-height: 24.45px;
    color: #FFFFFF;
}
.description > :first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24.45px;
    color: #FFFFFF;
}
.description > :last-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 550;
    line-height: 24.45px;
    color: #FFFFFF;
}
.full_work {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 550;
    line-height: 30.23px;
    margin-top: 10px;
    color: #8941FB;
    position: relative;
    top: 30px;
    left: 940px;
}
.last_main {
    width: 1600px;
    border: 1px solid #C9C9C9;
    opacity: 0.3;
    margin-top: 150px;
}
.contact_us {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 100px  ;
}
.contact_us > :first-child {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 85px;
    font-weight: 400;
    line-height: 76.36px;
    text-shadow: 0px 0px 6px #8941FB;
    position: relative;
    bottom: 80px;
}
form > input {
    color: #FFFFFF;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    width: 276px;
    padding-bottom: 11px;
}
form > :last-child {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    width: 588px;
    margin-top: 39px;
    padding-bottom: 185px;
}
.mail {
    margin-left: 19px;
}
.agree_and_button {
    margin-top: 73px;
    display: flex;
    justify-content: end;
    margin-right: 251px;
    gap: 490px;
}
.agree_and_button > :first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.56px;
    color: #FFFFFF;
}
.circle_send {
    width: 64px;
    height: 64px;
    border: 1px solid #8941FB;
    border-radius: 100%;
}
.line_send {
    position: relative;
    top: 30px;
    right: 18px;
    width: 80px;
    height: 0px;
    border: 1px solid #8941FB;
}
.send {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 550;
    line-height: 30.23px;
    position: relative;
    top: 20px;
    color: #8941FB;
}
.button {
    display: flex;
    gap: 32px;
}
.main_foot {
    width: 1600px;
    border: 1px solid #C9C9C9;
    opacity: 0.3;
    margin-top: 150px;
}
footer {
    width: 1600px;
    height: 870px;
    margin: auto;
}
.onefot {
    display: flex;
    justify-content: center;
    gap: 134px;
    margin-top: 208px;
}
.block_all {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.text_fot {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 550;
    line-height: 49.36px;
}
.adress > :first-child {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 550;
    line-height: 27.71px;
    text-decoration: none;
}
.twofot {
    display: flex;
    justify-content: center;
    margin-top: 251px;
    margin-left: 228px;
    gap: 234px;
}
.twofot > :first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 550;
    line-height: 24px;
    color: #FFFFFF;
}
.twofot > :nth-child(2) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 550;
    line-height: 24px;
}
.feedback {
    display: flex;
    gap: 17px;
}
.feedback > span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 550;
    line-height: 24px;
    color: #FFFFFF;
}
