* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #20192A;
    ;

}


header {
    margin: auto;
    width: 1600px;
    height: 1331px;
    background-image: url(../images/background_header.png);
}

nav {
    display: flex;
    justify-content: space-between;
    padding-top: 61px;
    padding-left: 100px;
    padding-right: 102px;
}
.logo_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 27.71px;
    text-align: left;
    color: white;
}
.nav_menu > a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    line-height: 27.71px;
    text-align: left;
    color: white;
}
.nav_menu {
    display: flex;
    gap: 54px;
}
.nav_menu :last-child {
    color: #8941FB;
}

.nav_menu_hr {
    width: 1388px;
    margin-top: 50px;
    border: solid 1px;
    opacity: 0.2;
    color: #FFFFFF;
}

.header_all_text {
    display: flex;
    flex-direction: column;
    width: 931px;
    margin-left: 260px;
    margin-top: 80px;
}
.second_nav_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27.71px;
    text-align: left;
    color: #FFFFFF;
}
.head_title {
    font-family: arial, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 85px;
    font-weight: 400;
    line-height: 76.36px;
    text-align: left;
    padding-top: 80px;
    color: #FFFFFF;
}
.p_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27.71px;
    text-align: left;
    color: #FFFFFF;
    padding-top: 50px;
}
.header_paragraph {
    width: 1036px;
    height: 225px;
    margin-top: 459px;
    margin-left: 23px;
}
.header_paragraph > p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    font-weight: 400;
    line-height: 44.97px;
    text-align: center;
    color: #FFFFFF;
}
main {
    margin: auto;
}
.up_main_hr {
    width: 272px;
    border: 1px solid;
    color: #FFFFFF;
    opacity: 0.4;
    margin-top: 82px;
}
.main_one_title {
    width: 1129px;
    height: 228px;
    margin: auto;
    position: relative;
    top: 30px;
}
.main_one_title > h2 {
    font-family: arial, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 85px;
    font-weight: 400;
    line-height: 76.36px;
    text-align: center;
    text-shadow: 0px 0px 6px #8941FB;
    text-transform: uppercase;
}
.main_vertical_line {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 118px;
}
.circles {
    width: 6px;
    height: 6px;
    border-radius: 100%;
    background: white;
    box-shadow: 0 0 25px 20px #CB3D9A;
}
.lines {
    width: 2.5px;
    height: 170px;
    background: #CB3D9A;
}
