:root {
    --font-family: "HelveticaNeueCyr", sans-serif;
    --second-family: "Gotham Pro", sans-serif;
    --third-family: "Roboto", sans-serif;
  }
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    background-color: #20192A;
}
.container {
    max-width: 1398px;
    margin: 0 auto;
}
.background_one {
    position: absolute;
    left: 55%;
    top: 430px;
    background: linear-gradient(226deg, #f15a22 0%, #f15a22 96.88%);
    filter: blur(300px);
    width: 550px;
    height: 356px;
}
.background_two {
    position: absolute;
    left: -2%;
    top: 2500px;
    background: linear-gradient(226deg, #f15a22 0%, #f15a22 96.88%);
    filter: blur(200px);
    width: 400px;
    height: 356px;
}
.background_three {
    position: absolute;
    left: 49%;
    top: 4900px;
    background: linear-gradient(226deg, #f15a22 0%, #f15a22 96.88%);
    filter: blur(180px);
    width: 350px;
    height: 356px;
}
.header__nav {
    display: flex;
    justify-content: space-between;
    padding: 62px 0 49px 0;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.logo_text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: bold;
    line-height: 27.71px;
    color: white;
}
.nav_menu > a {
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 17px;
    font-weight: 400;
    line-height: 27.71px;
    color: white;
}
.nav_menu {
    display: flex;
    gap: 54px;
}
.nav_menu > :nth-child(3) {
    color: #f15a22;
}
.header__alltext-buttons {
    max-width: 1068px;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    padding-left: 160px;
}
.homeurl {
    text-decoration: underline;
}
.casesurl {
    text-decoration: none;
}
.nav__second-text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 27.71px;
    color: #FFFFFF;
}
.nav__second-text > span > a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 163%;
    text-decoration-skip-ink: none;
    color: #fff;
}
.alltext__title-p {
    width: 1030px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 38px;
}
.header__title {
    font-family: var(--second-family);
    font-size: 85px;
    font-weight: 400;
    line-height: 76.36px;
    padding-top: 80px;
    color: #FFFFFF;
    display: flex;
    gap: 44.9px;
}
.header__p-title {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 163%;
    color: #fff;
    padding-top: 36px;
}
.featured-but {
    width: 125px;
    height: 46px;
    border: 1px solid #f15a22;
    border-radius: 54px;
    background: none;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 163%;
    text-align: center;
    color: #f15a22;
}
.header__alltext-p {
    width: 1038px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 128%;
    text-align: center;
    color: #fff;
    padding: 142px 0 142px 0;
    border-bottom: 1px solid #fff;
}
.about__celadon_circles {
    display: flex;
    gap: 80px;
    padding-top: 142px;
    padding-left: 152px;
}
.celadon__circle {
    border-radius: 100%;
    border: 1px solid #f15a22;
    box-shadow: 0 0 80px 0 rgba(241, 90, 34, 0.2);
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.celadon__circle > :first-child {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 30px;
    line-height: 163%;
    color: #f15a22;
    border-bottom: 1px solid #f15a22;
    padding-bottom: 7px;
}
.celadon__circle > :last-child {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 158%;
    color: #fff;
    padding-top: 17px;
}
.solution {
    padding: 191px 0 0 0;
    text-align: center;
}
.solution__title-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 134px;
}
.solution__title-image > h2 {
    font-family: var(--second-family);
    font-weight: bold;
    font-size: 85px;
    line-height: 90%;
    text-align: center;
    text-shadow: 0px 0px 6px #FFFFFF;
    color: #20192A;
}
.solution__title-image > img {
    width: 296px;
    height: 316px;
}
.solution__all-solution {
    padding: 192px 0 0 0;
    display: flex;
    gap: 152px;
    justify-content: center;
    align-items: center;
}
.allsolution__social-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.allsolution {
    display: flex;
    align-items: center;
    gap: 38px;
}
.circle {
    width: 9px;
    height: 9px;
    border-radius: 100%;
}
.namesolution {
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 17px;
    line-height: 158%;
    color: #fff;
}
.social > .circle {
    background-color: #7845e3;
}
.directories > .circle {
    background-color: #cb3d9a;
}
.google_ads > .circle {
    background-color: #45e355;
}
.SEO > .circle {
    background-color: #fc1818;
}
.content > .circle {
    background-color: #e0e345;
}
.main__text {
    padding: 168px 0 0 193px;
    text-align: center;
}
.main__text-alltext {
    max-width: 1036px;
}
.main__text-alltext > p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 35px;
    line-height: 128%;
    text-align: center;
    color: #fff;
}
.new_stage {
    padding: 172px 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
}
.new_stage > h2 {
    font-family: var(--second-family);
    font-weight: bold;
    font-size: 85px;
    line-height: 90%;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 0px 6px #FFFFFF;
    color: #20192A;
}
.new_stage__text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 163%;
    text-align: center;
    color: #fff;
    max-width: 717px;
}
.newstage__text-url {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #ef4335;
}
.conclusion {
    padding: 172px 0 142px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 100px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.conclusion > h2 {
    font-family: var(--second-family);
    font-weight: bold;
    font-size: 85px;
    line-height: 90%;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 0px 6px #FFFFFF;
    color: #20192A;
}
.conclusion__alltext {
    display: flex;
    gap: 120px;
}
.conclusion__alltext > span {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 17px;
    line-height: 163%;
    color: #fff;
    max-width: 450px;
}
.conclusion__alltext-url {
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #d22f27;
}
.contacts_ {
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 222px;
    padding-top: 60px;
}
.contact_us {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 100px;
}
.contact_us > :first-child {
    font-family: var(--second-family);
    font-weight: bold;
    font-size: 85px;
    line-height: 90%;
    text-transform: uppercase;
    text-shadow: 0px 0px 6px #F15A22;
    color: #20192A;
    position: relative;
    bottom: 80px;
}
form > input {
    color: #FFFFFF;
    background: none;
    border: none;
    border-bottom: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    width: 276px;
    padding-bottom: 11px;
}
form > :last-child {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
    width: 588px;
    margin-top: 39px;
    padding-bottom: 185px;
}
.mail {
    margin-left: 19px;
}
.agree_and_button {
    padding-top: 73px;
    padding-right: 140px;
    display: flex;
    justify-content: end;
    gap: 310px;
}
.agree_and_button > :first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 19.56px;
    color: #FFFFFF;
}
.agree-policity {
    color: #F15A22;
}
.agree_button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border: none;
    background-color: #20192A;
}
.agree_button > :first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 550;
    line-height: 30.23px;
    color: #F15A22;
}
.circle_agree {
    max-width: 64px;
    min-height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: 1px solid #F15A22;
}
.line_agree {
    width: 80px;
    margin-left: -20px;
    border: 1px solid #F15A22;
}
footer {
    min-height: 870px;
}
.onefot {
    display: flex;
    justify-content: center;
    gap: 134px;
    margin-top: 208px;
}
.block_all {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.text_fot {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 17px;
    line-height: 290%;
    text-transform: uppercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #F15A22;
}
.adress > :first-child {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 550;
    line-height: 27.71px;
    text-decoration: none;
}
.twofot {
    display: flex;
    justify-content: center;
    margin-top: 251px;
    margin-left: 228px;
    gap: 234px;
}
.twofot > :first-child {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 550;
    line-height: 24px;
    color: #FFFFFF;
}
.twofot > :nth-child(2) {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 550;
    line-height: 24px;
}
.feedback {
    display: flex;
    gap: 17px;
}
.feedback > span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 550;
    line-height: 24px;
    color: #FFFFFF;
}
