body{
    margin: 0;
    padding: 0;
}
.header{
    background-image: url(../images/kind_golden_retriver.jpg);
    background-size:cover ;
    height: 1333px;
    width: 100%;
    background-attachment: fixed;
    display: flex;
    justify-content: flex-end;    
}
.header p{
    width: 600px;
    display: flex;
    justify-content: flex-end;
}
.up{
   display: flex;
   gap: 20px;
   height: 20px;
   text-align: right; 
}
.menu{
    display: flex;
}